.hidden
{
    display: none !important;
}

.typing-preview
{
    padding: 2rem 0;
    margin: 0 5%;
    font-size: 2rem;
    position: relative;
    height: 50vH;
    border-bottom: 1px solid var(--color-ui-gray-dark);
}

    .typing-preview span
    {
        color: var(--color-ui-gray-light);
        display: inline-block;
        border-radius: 0.25rem;
        position: relative;
        z-index: 2;
        min-width: 0.3em;
        white-space: pre;
    }

    .typing-preview span.correct
    {
        color: var(--color-ui-green);
    }

    .typing-preview span.incorrect
    {
        color: var(--color-ui-red);
        text-decoration: underline;
    }

    .typing-preview span.current::before
    {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: var(--color-ui-gray-dark);
        z-index: 1;
        border-radius: 0.25rem;
        opacity: 0.2;
        min-width: 0.3em;
    }

.typing-preview .starting-screen
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-size: 1.5rem;
    backdrop-filter: blur(5px);
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;    
    color: var(--color-ui-white);
    text-align: center;

    transition: opacity 0.3s ease;
}

    .typing-preview .starting-screen.hidden
    {
        opacity: 0;
        pointer-events: none;
    }

    .typing-preview .starting-screen button
    {
        padding: 1rem 2rem;
        font-size: 1.2rem;
        border: none;
        border-radius: 5px;
        background-color: var(--color-ui-blue-dark);
        color: var(--color-ui-white);
        cursor: pointer;
        font-weight: 500;
    }

.controlls
{
    padding: 2rem 5%;
    display: flex;
    justify-content: center;
    gap: 1rem;
    transition: opacity 0.3s ease;
}

.controlls.hidden
{
    opacity: 0;
    pointer-events: none;
}

    .controlls button
    {
        padding: 0.75rem 1.5rem;
        border: none;
        cursor: pointer;
        border-radius: 0.25rem;
        background-color: var(--color-ui-dark-light);
        color: var(--color-ui-white);
        font-size: 1rem;
        display: flex;
        align-items: center;
        gap: 0.5rem;
        font-weight: 500;
    }

.winning_screen
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

    .winning_screen .icon
    {
        filter: 
        /* Erster Ring (heller, ca. 10px nach außen) */
        drop-shadow(10px 0 0 rgb(32, 90, 41))
        drop-shadow(-10px 0 0 rgb(32, 90, 41))
        drop-shadow(0 10px 0 rgb(32, 90, 41))
        drop-shadow(0 -10px 0 rgb(32, 90, 41))
        
        /* Zweiter Ring (dunkler, ca. 25px nach außen) */
        drop-shadow(25px 0 0 rgb(28, 34, 29))
        drop-shadow(-25px 0 0 rgb(28, 34, 29))
        drop-shadow(0 25px 0 rgb(28, 34, 29))
        drop-shadow(0 -25px 0 rgb(28, 34, 29));
        
    /* Wichtig: Das Bild braucht Platz zum Atmen, sonst wird der Schatten abgeschnitten */
        padding: 40px;
    }

    .winning_screen h2
    {
        font-size: 3rem;
        margin: 1rem 0;
    }

    .winning_screen h3
    {
        color: var(--color-ui-gray-light);
        text-align: center;
    }

    .winning_screen .states
    {
        max-width: 600px;
        width: 90%;
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
        gap: 3rem;
        margin-top: 4rem;
        margin-bottom: 4rem;

        @media (max-width: 600px)
        {
            grid-template-columns: 1fr;
            gap: 1rem;
        }
    }

        .winning_screen .states .state
        {
            border-radius: 0.5rem;
            padding: 0.5rem 1rem;
            display: flex;
            flex-direction: column;
            font-size: 1.5rem;
            font-weight: 500;
            border: 1px solid var(--color-ui-gray-dark);
        }

            .winning_screen .states .state p
            {
                color: var(--color-ui-gray-light);
            }

            .winning_screen .states .state span
            {
                font-size: 2.5rem;
                color: var(--color-ui-white);
            }

    .winning_screen button
    {
        padding: 1rem 2rem;
        font-size: 1.2rem;
        border: none;
        border-radius: 5px;
        background-color: var(--color-ui-white);
        color: var(--color-ui-dark-dark);
        cursor: pointer;
        font-weight: 500;
        display: flex;
        align-items: center;
        gap: 0.5rem;
    }

        .winning_screen button .invert
        {
            filter: invert(1);
        }